.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header{display: flex;height: 60px;background: #ddd;padding: 0 15px;align-items: center;}
.app-wrapper{padding: 0px }
.Header ul{list-style: none;margin:0;padding: 0;display: flex;}

.Header ul .nav-link{padding: 0 10px;text-decoration: none;color:#333;}
.Header ul .nav-link.active{font-weight: bold;}
.user-list{padding: 15px;}
.user-list table{width: 100%;border:none;border: 1px solid #ccc; border-collapse: collapse;}
.user-list table td, .user-list table th{border: 1px solid #ccc;text-align: left;padding:15px}
.home-wrapper{padding: 15px;}
.btn{border:none;margin: 0px auto;display: block;background: #006699; border-radius: 4px; padding:10px; min-width: 100px;color:#fff;font-size: 14px;}